<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lunchmodetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SingleTopWithAffinityActivity"
            android:taskAffinity=""
            android:label="@string/title_activity_single_top_with_affinity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".StandardActivity"
            android:label="@string/title_activity_standard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleInstanceWithAffinityActivity"
            android:label="@string/title_activity_single_instance_with_affinity"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleInstanceActivity"
            android:label="@string/title_activity_single_instance"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleTaskWithAffinity"
            android:label="@string/title_activity_single_task_with_affinity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleTaskActivity"
            android:label="@string/title_activity_single_task"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleTopActivity"
            android:label="@string/title_activity_single_top"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>